<div class="d-flex align-items-center mb-3">
  <h2>Listagem de Pokémons</h2>
  <a
    [routerLink]="['/pokemons/pagina', paginaAtual - 1]"
    [class.disabled]="paginaAtual === 1"
    class="btn btn-outline-secondary"
  >
    <i class="bi bi-arrow-left"></i>
  </a>
  <a
    [routerLink]="['/pokemons/pagina', paginaAtual + 1]"
    [class.disabled]="paginaAtual === 13"
    class="btn btn-outline-secondary"
  >
    <i class="bi bi-arrow-right"></i>
  </a>
</div>

<hr />

<div class="row justify-content-center g-2 mt-3">
  @for (pokemon of pokemonsFavoritos$ | async; track pokemon.nome) {
    <div class="col-3 col-md-1">
      <a [routerLink]="['/pokemons', pokemon.id]" [title]="pokemon.nome">
        <div class="card border-2">
          <div class="card-body text-center">
            <img class="img-fluid" [src]="pokemon.urlSprite" [alt]="pokemon.nome" />
          </div>
        </div>
      </a>
    </div>
  }
</div>

<div class="row g-3 mt-3">
  @for (pokemon of pokemons$ | async; track pokemon.nome) {
    <div class="col-md-3" style="width: 20%">
      <app-card-pokemon
        [pokemon]="pokemon"
        [exibirLink]="true"
        (statusFavoritoAlterado)="localStorageService.alternarStatusPokemon($event)"
      ></app-card-pokemon>
    </div>
  }
</div>
